---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Investice",
    description:
      "Nemusíte na to být sami. Ukážu vám cestu, jak budovat své portfolio bez zbytečných chyb. Společně najdeme strategie, které vám přinesou výsledky.",
    icon: "bx:bxs-chart",
  },
  {
    title: "Finance",
    description:
      "Naučím vás, jak efektivně spravovat své příjmy a výdaje, aniž byste museli zkoušet metodu pokus-omyl. Pomůžu vám najít cestu k finanční stabilitě a růstu.",
    icon: "bx:bxs-wallet",
  },
  {
    title: "Mindset",
    description:
      "Přeprogramovat své myšlení o penězích může být náročné, ale nemusíte na to být sami. Budu tu s vámi, abych vám pomohl změnit pohled na finance a vyhnout se zbytečným překážkám.",
    icon: "bx:bxs-brain",
  },
];
---

<div class="mt-12 bg-gray-100 p-6 rounded-lg shadow">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Osobní příběh
  </h2>
</br>
  <p>
    Vítej na mých osobních stránkách! Pomáhám lidem změnit přístup k financím, myšlení a životu, a zároveň sdílím cestu k finanční svobodě skrze základy investování.
    Nejde jen o peníze – jde o tebe, tvůj mindset a rozhodnutí, která tě mohou přiblížit naplněnému a svobodnému životu.
  </p>
</br>
  <p>
    Jmenuji se je Ondřej Rajnet a investování se věnuji už několik let. Na začátku jsem nevěděl nic. 
    Měl jsem strach, spoustu otázek a pocit, že nejsem dost dobrý na to, abych se sám pustil do investování. 
    Nevěřil jsem si a nechával jsem své finance v rukou institucí, které mi nakonec nepřinesly očekávané výsledky. 
    To mě naučilo, že pokud chci mít kontrolu nad svými financemi i životem, musím vzít odpovědnost do vlastních rukou.
    Tento e-book jsem napsal proto, abych ti pomohl vyhnout se chybám, které jsem udělal já. 
    Chci ti ukázat, že každá cesta začíná prvním krokem – a že změna mindsetu a zlepšení vztahu k penězům jsou klíčové kroky k úspěchu. Naučím tě, jak se na finance dívat jinak, jak začít investovat bez zbytečných obav a jak vybudovat návyky, které ti přinesou stabilitu a spokojenost.
  </p>
</br>
  <p>
    Díky svým zkušenostem jsem pochopil, že peníze nejsou jen prostředkem k dosažení cílů. 
    Jsou nástrojem svobody, pokud s nimi zacházíme vědomě a zodpovědně. 
    Provedu tě nejen mými osobními zkušenostmi a lekcemi, ale nabídnu ti také konkrétní kroky, jak začít budovat své bohatství a dosáhnout dlouhodobých výsledků.
  </p>
  </p>
</div>
</br>
<div class="mt-16 md:mt-0 bg-gray-100 p-6 rounded-lg shadow">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Proč to dělám?
  </h2>
</br>
<p>Věřím, že každý by měl mít možnost svobodně rozhodovat o svých financích a budovat si lepší budoucnost. Bohužel, praxe bank, pojišťoven a finančních institucí často klienty spíše znevýhodňuje. Namísto transparentnosti a férových nabídek jim prodávají produkty, které nepotřebují a které jim nepřinášejí skutečný užitek.</p>
				</br>
						<p>Tohle mě vedlo k rozhodnutí jít jinou cestou. Chci lidem ukázat, že existují lepší možnosti, jak s penězi nakládat. Naučím vás, jak investovat s rozvahou, dlouhodobě budovat bohatství a zároveň si zachovat plnou kontrolu nad svými financemi.</p>
					</br>		
							<p>Ať už je vaším cílem vlastní bydlení, cestování po světě nebo finanční nezávislost v důchodu, správné hospodaření s penězi a investování vám mohou tyto sny splnit. Peníze jsou nástroj, který vám může otevřít dveře k vysněnému životu – a já vám chci ukázat, jak tento nástroj efektivně využít.</p>
						</br>		
								<p>Společně můžeme změnit váš přístup k financím a vytvořit pevný základ pro svobodu, klid a spokojenost.</p>
</div>
</br>
<div class="mt-16 md:mt-0 bg-gray-100 p-6 rounded-lg shadow">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Co nabízím?
  </h2>
</br>
<p>Pokud se ve svých financích cítíte ztracení a nevíte, kde začít, mám pro vás řešení. Prvním krokem je e-book zdarma, který vám pomůže pochopit základní principy financí a odhalit, proč vám to s penězi možná nefunguje. V e-booku najdete pět klíčových pohledů na peníze, které vám otevřou oči a ukážou, kde se možná zbytečně držíte zpátky. Naučíte se, jak si nastavit zdravý vztah k penězům, jak se zbavit pocitu nejistoty a jak začít budovat finanční stabilitu. Tento e-book je ideální první krok, pokud cítíte, že je čas získat nad svými penězi kontrolu – bez složitých strategií a zbytečných komplikací.</p><br/>
<p>Pokud chcete jít víc do hloubky, nabízím také obsah na HeroHero, kde za 10 € měsíčně probírám finance a mindset opravdu detailně. Každý měsíc získáte přístup k praktickým návodům, tipům a strategiím, které vám pomohou nastavit si zdravý finanční základ, vybudovat rezervu a začít investovat bez strachu. V HeroHero se věnuji tématům jako správa příjmů a výdajů, investiční strategie, mindset spojený s penězi a jak se zbavit bloků, které vás brzdí. Tento obsah vám pomůže pochopit, jak s penězi skutečně zacházet, a ukáže vám, jak si vytvořit dlouhodobě udržitelný finanční plán.</p><br/>
<p>Pokud ale potřebujete individuální přístup a konkrétní plán na míru, nabízím mentoring. Většina lidí je ve světě peněz ztracená. Neví, jak systém funguje, jak správně zacházet s penězi, kde ušetřit a jak začít růst. Možná už máte za sebou špatnou zkušenost s bankou nebo finančním poradcem, který vám místo pomoci spíš přidal na nejistotě. Možná máte strach z investování, protože nechcete o své peníze přijít. A možná už jste na tom bodě, kdy cítíte, že je potřeba něco změnit – jen nevíte jak. Tohle všechno chápu – a právě proto nabízím jiný přístup. Nečekejte obecné rady nebo univerzální návody. Jdu k jádru problému – k vašim příjmům, výdajům, finančnímu chování i tomu, co se děje ve vaší hlavě, když přijde řeč na peníze. Ukážu vám, jak svět financí skutečně funguje – bez iluzí, bez složitých výrazů, bez prázdných slibů. Vysvětlím vám, proč většina lidí pracuje pro peníze místo toho, aby peníze pracovaly pro ně, a proč banky a pojišťovny chtějí, abyste zůstali závislí na jejich produktech. Společně se podíváme na vaše příjmy a výdaje, najdeme místa, kde vám peníze unikají, a nastavíme konkrétní strategii, jak peníze efektivně přesměrovat k růstu. Pomůžu vám vytvořit jasný plán – nejen jak šetřit, ale hlavně jak peníze zhodnotit a jak začít investovat bez strachu. Nejde jen o čísla – jde o to, jak se u svých financí cítíte. Budete mít kontrolu nad svými penězi a jasný směr, kam míříte.</p><br/>
<p>Nebudu vám mazat med kolem pusy – pokud děláte finanční chyby, řeknu vám to bez obalu. Pro správné rozhodnutí je potřeba mít všechny informace – i ty, které vám možná nebudou příjemné. Pokud máte špatné finanční návyky, pojmenujeme je a najdeme způsob, jak je změnit. V mentoringu se zaměříme na vaši konkrétní situaci – podíváme se na vaše příjmy, výdaje a investice a nastavíme strategii na míru vašim cílům a životnímu stylu. Pomůžu vám překonat strach z investování, ukážu vám, jak finance uchopit strategicky, a společně nastavíme plán pro dlouhodobý růst. Změna může být děsivá – a proto budete mít po celou dobu moji plnou podporu. Pomůžu vám překonat nejistotu a strach – bez ohledu na to, co se děje ve světě nebo na trzích. Společně vytvoříme systém, který vám dá pocit klidu a jistoty – protože vědomí, že máte své finance pod kontrolou, přináší do života stabilitu a svobodu. Pokud cítíte, že je čas na změnu, udělejte první krok. Přihlaste se na mentoring a začněte růst.</p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start bg-gray-100 p-6 rounded-lg shadow">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-black mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
